extends ../layout

block content
	.col-sm-9.mainContent
		table
			thead
				tr: th: th: h3 Featured Titles
			tbody
				tr
					each book, index in books
						if (index > 0 && index % 3 === 0) 
							tr 
						td
							a(href="books/" + book._id)
								img(height='175px' src="/art/" + book.imgPath)
							ul
								li #[span(class='metaField') Title:] #{book.title}
								li #[span(class='metaField') Author:] #{book.authorFName} #{book.authorLName}
								// Need to convert price value to currency format
								li #[span(class='metaField') Price:] #[span(class='metaFieldPrice') $#{book.price/100}]	

		// Display count of items on page and the total number of items
		- var pageMax = +skip + books.length;
		- var pageMin = skip;

		p Results #{+skip + 1}-#{+skip + books.length} of #{total}
		
		if skip > 0
			a(href="/?skip=" + pageMax)
				button.btn.btn-paging(type='button')
					| Prev
		if skip <= total			
			a(href="/?skip=" + pageMax)
				button.btn.btn-paging(type='button')
					| Next

		hr
		a(href="books/checkout")
			button.btn.btn-primary(type='button')
				i.fa.fa-check
				| Checkout
		hr
	include ../partials/sidebar		

	script.
		var pageMax = #{skip} + #{books.length};
		var pageMin = #{skip};
		console.log("PMin= " + pageMin + " PageMax = " + pageMax);
