//- extends layout

//- block content
//-   h1 books page
//-   div.mainContent
//-    .book 
//-      .col-sm-4
//-       h2 Featured Titles
//-        ul.featuredProducts
//-         each product in products
//-          li #{product.productID} - #{product.productTitle}


extends layout

block content
  .page-header
    h3 Featured Titles
    .row
      .col-sm-6
         each book in books
            tr
                td
                    a(href="#")
                      div
                        img(height='225px' src="/" + book.imgPath)
                    p #[span(class='metaField') Title:] #{book.title}
                    p #[span(class='metaField') ISBN:] #{book.ISBN}
                    p #[span(class='metaField') Author:] #{book.authorFName} #{book.authorLName}
                    p #[span(class='metaField') Publisher:] #{book.publisher}
                    p #[span(class='metaField') Price:] #[span(class='metaFieldPrice') #{book.price}]

  //- ul
  //-   for book in books
  //-     img(src='book.imgPath')
  //-     li= book.title
  //-     li= book.prodID
  //-     li= book.ISBN
  //-     li= book.title
  //-     li= book.authorFName
  //-     li= book.authorLName
  //-     li= book.publisher
  //-     li= book.length
  //-     li= book.pubDate
  //-     //li= img(src='book.imgPath')
  //-     li= book.blurb
  //-     li= book.price
  //-     p