extends ../layout

block content
	//- var userID = user._id
	.col-sm-9.mainContent(ng-app="cartApp" ng-controller="cartController")
		meta(name="csrf-token", content="#{token}")

		table
			thead
				tr: h3 Shopping Cart    
					th Item 
					th Price
					th Quantity
			tbody
				tr
				//- var i;
				//- console.log("carts.items.length = " + carts.items.length)
				//- if (carts.items.length) {
					- var cartLength = carts.items.length
					- for (i = 0; i < cartLength; i++) {
						tr
							td.cartTable #{carts.items[i].title}
							// Need to convert price to currency format
							td $#{carts.items[i].price/100}        
							form.form-horizontal.updateQuantity(action='/cart/update/index' method='POST') 
								input(type='hidden', name='_csrf', value=_csrf)
								input(type='hidden', name='userID', value=user._id)
								input(type='hidden', name='index', value=i)
								td
									.form-group
										input.form-control.quantity.cartTable(type='text', id=i, name='quantity', size='100px', value=carts.items[i].quantity, required)
								td
									button.btn.btn.btn-primary.updateQuantity(type='button' onclick='')
										i.fa.fa-check
										| Update Quantity
							form.form-horizontal.deleteItem(action='/cart/delete/index' method='POST') 
								input(type='hidden', name='_csrf', value=_csrf)
								input(type='hidden', name='userID', value=user._id)
								input(type='hidden', name='index', value=i)
								td
									.form-group
										button.btn.btn.btn-primary.deleteItem(type='button' onclick='')
											i.fa.fa-check
											| Remove
					- }
				//- }
				//- else {
					td Nothing found!
				//- }

		hr
		a(href="/checkout/" + user._id)
			button.btn.btn-primary(type='button')
				i.fa.fa-check
				| Checkout
		hr
	include ../partials/sidebar

	script(type='text/javascript').
				//- function setIndex(num) {
				//- 	index = num;
				//- 	console.log("In vTest(): index = " + index + " num = " + num);
				//- }

				//- function getIndex() {
				//- 	console.log("Called getIndex index = " + index);
				//- }

				//- function getCon() {
				//- 					console.log("Called getCon");
				//- 					document.getElement
				//- }

	script.
		var app = angular.module('cartApp', []);
		app.controller('cartController', function($scope, $http) {
		var userID = "77777";
			//$scope.my = { prev: 0, next: 1 };
			console.log("In cartController ...");

			$http.get("/getCartItems", {
				params: { 'userID': userID }
			})
			.then(function(response) {
				console.log("cartController return");
				//- $scope.books = response.data.books;
				//- pageMin = response.data.pageMin;
				//- pageMax = response.data.pageMax;
				//- pageNum = response.data.pageNum;
				//- console.log("++ app.pageController ajax return: skip=" + skip + " pageNum = " + pageNum + " pageMin=" + pageMin + " pageMax=" + pageMax + " total=" + total);
				//- window.history.pushState({}, null, '/books/page/' + pageNum);
			});
		});

