extends ../layout

block content
	.col-sm-9.mainContent
		p User Idfrom page  = #{user._id}

		table
			thead
				tr: h3 Shopping Cart    
					th Item 
					th Price
					th Quantity
			tbody
				- var i;
				- console.log("carts.items.length = " + carts.items.length)
				- if (carts.items.length) {
					- var cartLength = carts.items.length
					- for (i = 0; i < cartLength; i++) {
						tr
							td.cartTable #{carts.items[i].title}
							td #{carts.items[i].price}
							form.form-horizontal.updateQuantity(action='/cart/update/index' method='POST') 
								input(type='hidden', name='_csrf', value=_csrf)
								input(type='hidden', name='userID', value=user._id)
								input(type='hidden', name='index', value=i)
								td
									.form-group
										input.form-control.cartTable(type='text', id='quantity', name='quantity', size='100px', value=carts.items[i].quantity, required)
								td
									button.btn.btn.btn-primary.updateQuantity(type='submit' onclick='getIndex()')
										i.fa.fa-check
										| Update Quantity
							form.form-horizontal.deleteItem(action='/cart/delete/index' method='POST') 
								input(type='hidden', name='_csrf', value=_csrf)
								input(type='hidden', name='userID', value=user._id)
								input(type='hidden', name='index', value=i)
								td
									.form-group
										button.btn.btn.btn-primary.deleteItem(type='submit' onclick='getIndex()')
											i.fa.fa-check
											| Remove
					- }
				- }
				- else {
					td Nothing found!
				- }

		//- hr
		//- form.getCheckout(action='/cart/checkout' method='POST') 
		//- 	input(type='hidden', name='_csrf', value=_csrf)
		//- 	input(type='hidden', name='userID', value=user._id)
		//- 	.col-sm-3
		//- 		button.btn.btn.btn-primary.getCheckout(type='submit')
		//- 			i.fa.fa-check
		//- 			| Checkout
		//- p &nbsp;
		//- hr

		//- hr
		//- a(href="/cart/checkout")
		//- 	button.btn.btn-primary(type='button')
		//- 		i.fa.fa-check
		//- 		| Checkout
		//- hr

		hr
		a(href="/checkout/" + user._id)
			button.btn.btn-primary(type='button')
				i.fa.fa-check
				| Checkout
		hr

	script(type='text/javascript').
				function setIndex(num) {
					index = num;
					console.log("In vTest(): index = " + index + " num = " + num);
				}

				function getIndex() {
					console.log("Called getIndex index = " + index);
				}

				function getCon() {
									console.log("Called getCon");
									document.getElement
				}


				//- $('button.getCheckout').click( function() {
				//- 	console.log("getCheckout clicked");
				//- 	$('form.getCheckout').submit();
				//- });

