extends ../layout

block content
	.col-sm-9.mainContent
		p User Idfrom page  = #{user._id}

		table
			thead
				tr: h3 Shopping Cart    
					th Item 
					th Quantity
					th Price
			tbody
				//- //make loop for items.length
				each cart, i in carts
					tr
						//- td UserID from cart = #{cart.userID}
						td #{cart.items[Object.keys(cart.items)[i]].ISBN} index = #{i}
						td #{cart.items[Object.keys(cart.items)[i]].title}
						td #{cart.items[Object.keys(cart.items)[i]].quantity}
						td #{cart.items[Object.keys(cart.items)[i]].price}
						td
							button.btn.btn-primary(type='submit')
								i.fa.fa-check
								| Update Quantity
						td
							button.btn.btn-primary(type='submit')
								i.fa.fa-check
								| Remove
				else
					td sorry, no books!
		hr
		a(href="cart/checkout")
			button.btn.btn-primary(type='button')
				i.fa.fa-check
				| Checkout
		hr
//- TO DO: Need to treat addToCart like an update since we want
//- to add to an exisiting cart found by user_id, if none found create a new one.

