extends ../layout	

block content
	p User Idfrom page  = #{user._id}

	////   Shopping Cart    ////
	.col-sm-4.checkoutSection
		table
			thead
				tr: h3 Shopping Cart
					th Item 
					th Quantity
					th Price
			tbody
				tr
					- if (carts.items.length) {
					- var cartLength = carts.items.length
					- for (i = 0; i < cartLength; i++) {
						tr
							td.cartTable #{carts.items[i].title}
							td #{carts.items[i].quantity}
							td $#{carts.items[i].price/100}
					- }
				- }
				- else {
					td Nothing found!
				- }
				tr
					td
						a(href='../cart/' + user._id)
							button.btn.btn-primary(type='button')
								i.fa.fa-check
								| Edit Cart
		hr
		table.checkoutCartTable
			tbody
				tr
					// Need to convert prices to currency format
					td Subtotal
					td $#{carts.subTotal/100}
				tr
					td Estimated Shipping
					td $#{carts.shippingAmount/100}
				tr
					td Tax
					td $#{(carts.taxAmount/100).toFixed(2)}
				tr
					td Total
					td $#{carts.total/100}


	////   Billing Info		////		
	.col-sm-4.checkoutSection
		div.billingInfo
			h3 Billing Info
			form.form-horizontal(action='/checkout/confirmation' id='billing-form', method='POST')
				input(type='hidden', name='_csrf', value=_csrf)
				.form-group
					label.col-sm-3.control-label(for='name') Name
					.col-sm-7
						input.form-control.checkout-form-control(type='text', name='name', id='name', placeholder='Name', autofocus, required)
				.form-group
					label.col-sm-3.control-label(for='address') Address
					.col-sm-7
						input.form-control.checkout-form-control(type='text', name='address', id='address', placeholder='Address', required)
				.form-group
					label.col-sm-3.control-label(for='city') City
					.col-sm-7
						input.form-control.checkout-form-control(type='text', name='city', id='city', placeholder='City', required)
				.form-group
					label.col-sm-3.control-label(for='state') State
					.col-sm-7
						input.form-control.checkout-form-control(type='text', name='state', id='state', placeholder='State', required)
				.form-group
					label.col-sm-3.control-label(for='zip') Zip
					.col-sm-7
						input.form-control.checkout-form-control(type='text', name='zip', id='zip', placeholder='Zip', required)
				.form-group
					label.col-sm-3.control-label(for='email') Email
					.col-sm-7
						input.form-control.checkout-form-control(type='email', name='email', id='email', placeholder='Email', required)
				hr
				// Credit card info
				h4 Payment Method
				.form-group
					label.col-sm-3.control-label(for='cardNumber') Card Type
					.dropdown
						//- button.btn.btn-default.dropdown-toggle(type="button",data-toggle="dropdown" id="cardDropDown" ) Credit Card Type
						//- 	| &nbsp;
						//- 	span.caret
						//- ul.dropdown-menu(role="menu" id="cardType")
						//- 	li: a( href="#", selected='true') Visa
						//- 	li: a( href="#" ) American Express
						//- 	li: a( href="#" ) Mastercard
						//- label.control-label.requiredField(for='cardType')
							| Credit Card Type
							span.asteriskField *
						//- .col-xs-12
						select#cardType.select.form-control.dropdown-toggle(form='', name='')
							option(value='0', selected= true) -- Select --
							option(value='1') Visa
							option(value='2') American Express
							option(value='3') Mastercard

				// Card Number
				.form-group
					label.col-sm-3.control-label(for='cardNumber') Card Number
					.col-sm-7
						input.form-control.checkout-form-control(type='cardNumber', name='cardNumber', id='cardNumber', placeholder='Card Number', required)

				// Month
				.form-group
					.dropdownCVV
						button.btn.btn-default.dropdown-toggle(type="button",data-toggle="dropdown") Month
							| &nbsp;
							span.caret
						ul.dropdown-menu(role="menu")
							li(id="btnMonth") 1
							li(id="btnMonth") 2
							li(id="btnMonth") 3
							li(id="btnMonth") 4
							li(id="btnMonth") 5
							li(id="btnMonth") 6
							li(id="btnMonth") 7
							li(id="btnMonth") 8
							li(id="btnMonth") 9
							li(id="btnMonth") 10
							li(id="btnMonth") 11
							li(id="btnMonth") 12

						// Year
						button.btn.btn-default.dropdown-toggle(type="button",data-toggle="dropdown") Year
							| &nbsp;
							span.caret
						ul.dropdown-menu(role="year")
							li(id="btnMonth") 2016
							li(id="btnMonth") 2017
							li(id="btnMonth") 2018
							li(id="btnMonth") 2019
							li(id="btnMonth") 2020
						// CVV
						.col-sm-3
							input.form-control(type='cvv', name='cvv', id='cvv', placeholder='CVV', required)

	////    Shipping Info    ////
	.col-sm-4.checkoutSection
		div.billingInfo
			h3 Shipping Info
			form.form-horizontal(action='/checkout/confirmation' id='billing-form', method='POST')
				.form-group
					input(type="checkbox", value="", id="sameAsBilling")
					label.col-sm-5.control-label(for='cardNumber') Same as billing
				input(type='hidden', name='_csrf', value=_csrf)
				.form-group
					label.col-sm-3.control-label(for='name') Name
					.col-sm-7
						input.form-control.checkout-form-control(type='text', name='name', id='ship_name', placeholder='Name', autofocus, required)
				.form-group
					label.col-sm-3.control-label(for='address') Address
					.col-sm-7
						input.form-control.checkout-form-control(type='text', name='address', id='ship_address', placeholder='Address', required)
				.form-group
					label.col-sm-3.control-label(for='city') City
					.col-sm-7
						input.form-control.checkout-form-control(type='text', name='city', id='ship_city', placeholder='City', required)
				.form-group
					label.col-sm-3.control-label(for='state') State
					.col-sm-7
						input.form-control.checkout-form-control(type='text', name='state', id='ship_state', placeholder='State', required)
				.form-group
					label.col-sm-3.control-label(for='zip') Zip
					.col-sm-7
						input.form-control.checkout-form-control(type='text', name='zip', id='ship_zip', placeholder='Zip', required)
				.form-group
					label.col-sm-3.control-label(for='email') Email
					.col-sm-7
						input.form-control.checkout-form-control(type='email', name='email', id='ship_email', placeholder='Email', required)

				input(type="checkbox", value="", id="sameAsBilling", action="copyBillingInfo()")
				label.col-sm-6.control-label(for='cardNumber') Join our mailing list
				br
				br
				button.btn.btn-primary(type='submit', form='billing-form' onclick="validateForm()")
					i.fa.fa-check
					| Place Order

	script.

		// Validate checkout form
		function validateForm() {
			console.log("In validateForm()");
		}
				
